#container-wrap {
    background-color: #F3F5F7; /* 페이지 전체의 배경색을 설정합니다 */
    margin-top: 100px;
    padding-top: -1px;
}

.div-cont{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

#contents {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

#subleft-cont {
    width: 700px;
    float: left;
    border-radius: 15px;
    /* border: 1px solid #1275D6; */
}

#subright-cont {
    margin-left: 20px;
    width: 220px;
    float: right;
}

.cont-main {
    border-radius: 15px;
    padding: 20px; /* 내용과 테두리 사이의 여백을 추가합니다 */
    margin-bottom: 20px; /* 다른 섹션과의 간격을 더합니다 */
    background-color: #ffffff; /* 약간의 배경색을 추가하여 섹션을 돋보이게 합니다 */
    /* border: 1px solid #00a703; */
}


.cont-sub {
    border-radius: 15px;
    /* border: 1px solid #ff61d7; */
}

.cont-reply{
    /* border: 1px solid #ff9061; */
    border-radius: 15px;
}

.reply-img-wrap {
    display: flex;
    justify-content: center;
}

.cont-main {
    /* existing styles */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds shadow */
    /* ... */
}


/* right 메뉴*/

.recommend-list {
    text-align: left;
    margin-top: 14px;
    padding-top: 16px;
    border-radius: 15px;
    background-color: #ffffff; /* Light grey background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    overflow: hidden; /* Ensures the border-radius clips the contents */
    /* border: 1px solid #1275D6; */
}

.recommend-list h6 {
    margin-left: 15px; /* Aligns the title inside the border */
    color: #333; /* Darker text color for the title */
    font-size: 1.1em; /* Slightly larger font size for the title */
    font-weight: bold; /* Makes the title bold */
}

.recommend-list ul{
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Resets padding */
    margin: 0; /* Resets margin */
}

.recommend-item {
    padding: 14px 12px; /* Adds padding inside each item */
    border-bottom: 1px solid #e1e1e1; /* Separates items */
}

.recommend-photo{
    border-radius: 10px;
    width: 100%; /* Adjust the width as necessary */
    height: 100px; /* Maintain aspect ratio */
    object-fit: cover; /* 이미지 비율을 유지하면서 요소의 크기에 맞게 조정합니다 */
    overflow: hidden; /* 높이가 100px를 넘어가는 이미지의 부분을 숨깁니다 */
}

.recommend-name-region{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.recommend-name-region, .recommend-tag {
    flex: 1; /* Allows text to fill the available space */
}

.recommend-name{
    color: #1275D6;
    font-size: 1.1em;
    font-weight: bold; /* Makes the place name bold */
}

.recommend-region {
    font-size: 0.85em; /* Slightly smaller font size for the region */
    color: #68C7FF; /* Grey color for the region */
}

.recommend-tag span {
    text-align: left;
}

.recommend-name .recommend-region .recommend-tag {
    height: 12px;
}
/*detail-content*/

.detail-info-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.detail-info-wrap{
    margin-top: 16px;
}

.cont-main-img{
    border-radius: 16px;
}

.detail-content {
    text-align: left;
}

.detail-title {
    font-weight: bold;
    color: #393939; /* 제목의 색상을 링크 색상과 일치시킵니다 */
    margin-bottom: 12px; /* 제목과 부제 사이의 간격을 조정합니다 */
}

.detail-subtitle {
    font-size: 0.9em; /* 부제의 글자 크기를 약간 줄입니다 */
    color: #666; /* 부제의 색상을 약간 어둡게 합니다 */
    /*margin-bottom: 3px; 부제 아래 간격을 추가합니다 */
}

.detail-option-wrap{
    border-top: 1px solid #eaeaea; /* 옵션 상단에 구분선을 추가합니다 */
    padding-top: 15px; /* 구분선 위의 여백을 추가합니다 */
}

.detail-option {
    font-size: 0.9em; /* 상세 옵션의 글자 크기를 조정합니다 */
    color: #333; /* 상세 옵션의 색상을 조정합니다 */
    margin-bottom: 5px; /* 옵션들 사이의 간격을 조정합니다 */
}

.detail-option-icon{
    color: #68C7FF;
    margin-right: 5px;
}
/* cont */

.cont-sub {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.cont-time-wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cont-time {
    background-color: #fff; /* 배경색 설정 */
    border-radius: 10px; /* 모서리 둥글게 설정 */
    box-shadow: 3px 5px 6px rgba(121 121 121 / 10%); /* 그림자 효과 추가 */
    padding: 16px; /* 내부 여백 설정 */
    margin: 16px 0; /* 위아래 간격 설정 */
    width: 100%; /* 너비 설정 */
}

.cont-time ul {
    list-style: none; /* 리스트 스타일 제거 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
}

.cont-time li {
    padding: 8px 0; /* 리스트 아이템 상하 여백 설정 */
    border-top: 1px solid #eaeaea; /* 상단 경계선 설정 */
    display: flex; /* 플렉스 박스 모델 적용 */
    justify-content: space-between; /* 양쪽 정렬 설정 */
    align-items: center; /* 세로 중앙 정렬 설정 */
    font-size: 0.9em; /* 글꼴 크기 설정 */
}

.cont-time li:first-child {
    border-top: none; /* 첫 번째 리스트 아이템의 상단 경계선 제거 */
}

.status {
    font-weight: bold; /* 상태 메시지를 눈에 띄게 합니다 */
}
.detail-tags-wrap{
    border-top: 1px solid #eaeaea; /* 상단 경계선 설정 */
    padding: 20px 0; /* 리스트 아이템 상하 여백 설정 */
    margin-top: 20px;
}

.detail-tags{
    border-radius: 20px;
    margin: 16px 10px 6px 0;
}
/* 평점 */
.star {
  cursor: pointer;
  color: rgb(212, 212, 212); /* 기본 색상 */
  font-size: 30px;
}

.filled {
  color: #1275D6; /* 선택된 별의 색상 */
}

/* 별 평점을 감싸는 div에 스타일을 추가합니다 */
.detail-rating {
    display: inline-block;
    margin-bottom: 10px; /* 평점 아래 간격을 추가합니다 */
}


.rating-txt{
    font-size: 20px;
    font-family: bold;
}


.recommend-tags li{
    list-style-type: none; 
}

.cont-reply{
    background-color: #fff; /* 배경색 설정 */
    border-radius: 10px; /* 모서리 둥글게 설정 */
    box-shadow: 3px 5px 6px rgba(121 121 121 / 10%); /* 그림자 효과 추가 */
    padding: 16px; /* 내부 여백 설정 */
    margin: 16px 0; /* 위아래 간격 설정 */
    width: 100%; /* 너비 설정 */
}

.cont-chart {
    width: 600px;
    margin: 0 auto;
}

.btn-reply{
    font-size: 10px;
    border-radius: 20px;
    width: 120px;
}

.detail-reply-txt{
    font-size: 14px;
    font-weight: bold;
}

.cont-reply-line{
    border-top: 1px solid #eaeaea; /* 상단 경계선 설정 */
    padding: 14px 0; /* 리스트 아이템 상하 여백 설정 */
}

/* 오른 쪽 */
.mini-map{
    width: 215px;
    padding: 12px;
    background-color: #FFFFFF;
    border-radius: 20px;  /* 모서리의 둥근 정도 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* 그림자 추가 */
}

.mini-map-wrap{


    border:1px solid #e1e1e1;
    border-radius: 12px;
    background-color: #fff; /* 배경색 설정 */
}

.cont-reply-caution{
    border-top: 1px solid #eaeaea; /* 상단 경계선 설정 */
    padding-top: 12px; /* 리스트 아이템 상하 여백 설정 */
    margin-top: 20px;
}

.cont-reply-caution-massage {
    font-size: 0.7em; /* 부제의 글자 크기를 약간 줄입니다 */
    color: #666; /* 부제의 색상을 약간 어둡게 합니다 */
    /*margin-bottom: 3px; 부제 아래 간격을 추가합니다 */
}

.recommend-info{
    display: flex;
    flex-direction: column;
}

.recommend-name{
    /* line-height : 1em; 행간 조절 */
    height: 8px;
}

.recommend-name, .recommend-region, .recommend-tag {
    height: 12px;
}

/* modal */
.modal-btn{
    margin: 0 auto;
}