.review-modal {
  position: fixed; /* 화면에 고정 */
  top: 50%; /* 상단에서 50% 위치 */
  left: 50%; /* 좌측에서 50% 위치 */
  transform: translate(
    -50%,
    -50%
  ); /* 정중앙 정렬을 위해 자기 크기의 반만큼 이동 */
  width: 42%; /* 모달의 너비 */
  background-color: white; /* 배경색 */
  padding: 20px; /* 안쪽 여백 */
  border-radius: 10px; /* 테두리 둥글기 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
  z-index: 1000; /* 다른 요소들 위에 나타나도록 z-index 설정 */
}
.review-head-bts {
  flex-direction: column;
  display: flex;
  justify-content: end;
  text-align: end;
}
.review-update-delete {
  display: flex;
  justify-content: end;
  margin-right: 40px;
  color: #919191;
}
.review-cl-bt,
.review-update-button,
.review-delete-button {
  cursor: pointer; /* 마우스 오버 시 포인터 모양 변경 */
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.review-board-name {
  color: #1275d6;
  justify-content: start;
  text-align: start;
  font-size: 12px;
  margin-left: 45px;
}
.review-modal-content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  max-height: 70vh; /* 뷰포트 높이의 80%만큼의 최대 높이 */
  overflow-y: auto;
  position: relative;
  background-color: white;
}

.review-footer-modal {
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.review-modal-content .review-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #393939;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

.review-modal-content .review-subtitle {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  color: #6e6e6e;
}
.review-modal-content .review-modal-main {
  flex: 2; /* 콘텐츠 영역이 이미지 영역보다 크게 설정 */
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
  color: #6e6e6e;
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}

/* 리뷰 이미지 부분 */

.image-container:hover .image-hover-text {
  opacity: 1;
}
.image-container {
  position: relative;
  width: 100%; /* 이미지 컨테이너 너비 */
  cursor: pointer;
}

.image-count-overlay {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}

.review-slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* 슬라이더 전체 너비 */
}

.review-slider-container .review-click {
  flex: 1; /* 체비론과 다음 버튼이 동일한 공간을 차지하도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 470px;
  object-fit: cover; /* 이미지 비율 유지 */
}
.image-hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/*-------------------*/

.review-replies {
  text-align: start;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.review-replyer {
  font-size: 14px;
  margin-bottom: 10px;
  color: #1b1f23;
}
.review-replies-header {
  display: flex;
  justify-content: start;
  text-align: start;
}
.review-reply-date {
  color: #919191;
  font-size: 12px;
  margin-left: 10px;
}

.review-reply-content {
  text-align: start;
  font-size: 15px;
  margin-left: 15px;
  color: #393939;
}
.review-reply-main {
  display: flex;
  justify-content: space-between;
}
.review-reply-control {
  display: flex;
  text-align: right;
  justify-content: right;
}
.review-reply-update,
.review-reply-delete {
  font-size: 12px;
  margin-inline: 5px;
  color: #919191;
  cursor: pointer;
}
.review-reply-content-input {
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
}
.review-reply-update-save {
  width: 60px;
  font-size: 12px;
  margin-right: 5px;
  color: white;
  cursor: point;
  border: 1px solid #1275d6;
  border-radius: 10px;
  background-color: #1275d6;
}
.review-reply-update-cancel {
  width: 60px;

  border: 1px solid #ffc83b;
  color: #ffc83b;
  background-color: white;
  border-radius: 10px;
}

.review-new-reply {
  margin: 20px;
}
.review-reply-writing {
  width: 85%;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  padding: 13px;
}
.review-new-reply input::placeholder {
  color: #68c7ff;
}
.review-new-reply button {
  padding: 13px;
  border-radius: 10px;
  border: 1px solid #1275d6;
  background-color: white;
  width: 10%;
  color: #1275d6;
}
.review-new-reply button:active {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #1275d6;
  background-color: #1275d6;
  width: 10%;
  color: white;
  cursor: pointer;
}

.review-rating,
.review-author,
.review-date {
  font-size: 0.9em;
  margin-right: 15px;
  color: #1b1f23;
}
.review-likes {
  cursor: pointer;
  user-select: none; /* 텍스트 선택 방지 */
  margin-left: 15px;
  margin-right: 15px;
  color: #1b1f23;
}
